/* Base */
body {
  background-color: Black;
  color: HoneyDew;
  font-size: 18px;
  font-family: "Didot","Times New Roman",serif;
}

/* Top and bottom bars */
#top,
#bottom {
  text-align: center;
  color: HoneyDew;
}

/* Menus */
#top-menu,
#bottom-menu {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Main content */
#main {
  background-color: Black;
  color: HoneyDew;
}

/* Cat box */
#cat {
  height: 100px;
  width: 200px;
  font-size: 8px;
  font-family: "Lucida Console","Monaco", monospace;
  margin: auto;
}

/* Headings */
h1, h2, h3 {
  text-align: center;
  color: White;
  text-shadow: 0 0 6px PaleGreen;
  letter-spacing: 3px;
}
h1 {
  font-size: 56px;
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size:24px;
}

/* Links */
a {
  font-family: "Lucida Console","Monaco", monospace;
  color: White;
  text-decoration: none;
}
a:hover {
  color: PaleGreen;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.detail {
  letter-spacing: 2px;
}


